<main>
  <h1>{{cube.name}}</h1>
  <img class="cube" src="{{cube.imageUrl}}">
  <div class="details">
    <p><span>Description:</span>{{cube.description}}</p>
    <p><span>Difficulty level:</span> {{cube.difficultyLevel}}</p>
    <a class="btn" href="/">Back</a>
    {{#if isOwner}}
    <a class="btn" href="/cubes/{{_id}}/attach-accessory">Attach</a>
    <a class="btn" href="/cubes/{{_id}}/edit">Edit</a>
    <a class="btn" href="/cubes/{{_id}}/delete">Delete</a>
    {{/if}}
  </div>
  <h2>Accessories</h2>
  <div class="accessories">
    {{#each cube.accessories}}
    <div class="accessory">
      <img src="{{imageUrl}}" alt="{{name}}">
      <h3>{{name}}</h3>
      <p>{{description}}</p>
    </div>
    {{else}}
    <h3 class="italic">This cube has no accessories yet...</h3>
    {{/each}}
  </div>
</main>